@tailwind base;
@tailwind components;

.app{
  @apply bg-[#0E1117] text-[#F1F6FC]
}

.navbar--hidden {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s linear;
}
/* Mobile navigation */
/* Mobile Navigation */
/* Ensure the header has a higher z-index than the nav */
header {
  position: relative;
  z-index: 1000; /* Higher than mobile nav */
}

/* Mobile Navigation */
@media (max-width: 768px) {
  nav {
    position: absolute;
    top: 100%; /* Positions below the header */
    left: 0;
    right: 0;
    background-color: background; /* Set background color */
    width: 100vw; /* Full width for the menu */
    z-index: 999; /* Ensure it appears on top */
    padding: 20px; /* Add some padding */
    text-align: left;
  }

  nav a {
    display: block;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
  }

  /* Adjust the button if needed */
  .toggle-button {
    position: relative;
    z-index: 1001; /* Ensure it's above other elements */
  }
}

/* For smooth transition */
nav {
  transition: all 0.5s ease;
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.translate-x-full {
  transform: translateX(100%);
}

.translate-x-0 {
  transform: translateX(0);
}
/* ServiceCard.css */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem; /* Space between cards */
}

.card {
  background-color: #2a2a2e; /* Card background */
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px; /* Fixed width for cards */
}

.card:hover {
  transform: translateY(-10px); /* Lift effect on hover */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Shadow effect on hover */
}



@keyframes arrow-move {
  0% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(5px); /* Adjust the distance as needed */
  }
  100% {
      transform: translateX(0);
  }
}

.animate-arrow {
  animation: arrow-move 0.5s ease-in-out infinite; /* Adjust the duration and easing as needed */
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@tailwind utilities;
