@tailwind base;
@tailwind components;

.app{
  @apply bg-[#44355b] text-[#f0eff4]
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.3s;
  }
  @media (max-width: 600px){
    .navbar {
      position: relative;
    }
  }
  
  .navbar--hidden {
    top: -100px;
  }
@tailwind utilities;
